In [11]:
import pandas as pd
import numpy as np

In [3]:
all_data = pd.read_csv("all_results.csv")

In [10]:
grouped = all_data.drop(columns=['Patient', "Brightness"]).groupby('Model').mean()
grouped

,Accuracy,IOU_0,IOU_1,IOU_2,IOU_3,IOU_4,IOU_5,IOU_6,IOU_mean
Model,,,,,,,,,
Base,0.047742,0.000000,0.094194,0.001290,0.000000,0.017419,0.0,0.0,0.015806
DINO,0.845161,0.839677,0.700968,0.140968,0.230968,0.053871,0.0,0.0,0.280645
Tuned,0.852258,0.887097,0.722903,0.000000,0.051613,0.000000,0.0,0.0,0.236452
UNet,0.967097,0.973548,0.940000,0.601935,0.650968,0.358387,0.0,0.0,0.503548

In [17]:
grouped['IoU_mean_alt'] = sum([grouped['IOU_0'], grouped['IOU_1'], grouped['IOU_2'], 
                                  grouped['IOU_3'], grouped['IOU_4']]) / 5

In [18]:
grouped

,Accuracy,IOU_0,IOU_1,IOU_2,IOU_3,IOU_4,IOU_5,IOU_6,IOU_mean,IoU_mean_alt
Model,,,,,,,,,,
Base,0.047742,0.000000,0.094194,0.001290,0.000000,0.017419,0.0,0.0,0.015806,0.022581
DINO,0.845161,0.839677,0.700968,0.140968,0.230968,0.053871,0.0,0.0,0.280645,0.393290
Tuned,0.852258,0.887097,0.722903,0.000000,0.051613,0.000000,0.0,0.0,0.236452,0.332323
UNet,0.967097,0.973548,0.940000,0.601935,0.650968,0.358387,0.0,0.0,0.503548,0.704968